# 제어문 연습문제

## 1번

> for문을 2개 중첩하여 (0,0), (0,1), (0,2), (0,3), (1,0), (1,1)..... (6,3)까지 출력되는 반복문을 구현한다.

In [6]:
# 0 ~ 6까지 출력되는 for문 작성 [range()함수 사용]

In [ ]:
# 0 ~ 3까지 출력되는 for문 작성 [range()함수 사용]

In [24]:
# 매 loop마다 x, 'A'<- (문자열)를 4번씩 출력
for x in range(7):
    for y in range(4):
        print(f'({x}, {y})')

(0, 0)
(0, 1)
(0, 2)
(0, 3)
(1, 0)
(1, 1)
(1, 2)
(1, 3)
(2, 0)
(2, 1)
(2, 2)
(2, 3)
(3, 0)
(3, 1)
(3, 2)
(3, 3)
(4, 0)
(4, 1)
(4, 2)
(4, 3)
(5, 0)
(5, 1)
(5, 2)
(5, 3)
(6, 0)
(6, 1)
(6, 2)
(6, 3)

In [25]:
result = []
for x in range(7):
    for y in range(4):
        result.append('({}, {})'.format(x, y))

In [26]:
result

['(0, 0)',
 '(0, 1)',
 '(0, 2)',
 '(0, 3)',
 '(1, 0)',
 '(1, 1)',
 '(1, 2)',
 '(1, 3)',
 '(2, 0)',
 '(2, 1)',
 '(2, 2)',
 '(2, 3)',
 '(3, 0)',
 '(3, 1)',
 '(3, 2)',
 '(3, 3)',
 '(4, 0)',
 '(4, 1)',
 '(4, 2)',
 '(4, 3)',
 '(5, 0)',
 '(5, 1)',
 '(5, 2)',
 '(5, 3)',
 '(6, 0)',
 '(6, 1)',
 '(6, 2)',
 '(6, 3)']

## 2번

> 리스트 컴프리헨션을 중첩하여 위 결과를 갖는 리스트를 생성한다.

In [13]:
# 리스트 컴프리헨션을 사용해서 0~6까지의 결과를 갖는 리스트를 생성

In [22]:
[(x, y) 
 for x in range(7)
    for y in range(4)]
# [(x, y) for x in range(7) for y in range(4)]

# 결과를 문자열로 저장
# ['(0, 0)', '(0, 1)', '(0, 2)'...]

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (5, 0),
 (5, 1),
 (5, 2),
 (5, 3),
 (6, 0),
 (6, 1),
 (6, 2),
 (6, 3)]

In [27]:
[f'({x}, {y})'
    for x in range(7)
        for y in range(4)]

['(0, 0)',
 '(0, 1)',
 '(0, 2)',
 '(0, 3)',
 '(1, 0)',
 '(1, 1)',
 '(1, 2)',
 '(1, 3)',
 '(2, 0)',
 '(2, 1)',
 '(2, 2)',
 '(2, 3)',
 '(3, 0)',
 '(3, 1)',
 '(3, 2)',
 '(3, 3)',
 '(4, 0)',
 '(4, 1)',
 '(4, 2)',
 '(4, 3)',
 '(5, 0)',
 '(5, 1)',
 '(5, 2)',
 '(5, 3)',
 '(6, 0)',
 '(6, 1)',
 '(6, 2)',
 '(6, 3)']

## 문자열 포맷팅 방법 3가지

In [28]:
a = 'apple'
b = 'banana'

In [30]:
old_style = '%s and %s' % (a, b)
format_style = '{} and {}'.format(a, b)
f_style = f'{a} and {b}'

print(old_style)
print(format_style)
print(f_style)

apple and banana
apple and banana
apple and banana

## 3번

> (0,0), (0,1), (0,2), (0,3), (1,0), (1,1)..... (6,3)

### 3-1. for문을 사용해서 첫 번째 항목이 짝수일때만 print

In [39]:
count_first_case = 0
for x in range(7):
    # x의 조건을 만족하지 않으면 내부 루프를 돌지 않도록 미리 검사
    if x % 2 == 0:
        for y in range(4):
            count_first_case += 1
            print(f'({x}, {y})')
            
print('----------')

count_second_case = 0
for x in range(7):
    for y in range(4):
        count_second_case += 1
        if x % 2 == 0:
            print(f'({x}, {y})')

print(count_first_case)
print(count_second_case)

(0, 0)
(0, 1)
(0, 2)
(0, 3)
(2, 0)
(2, 1)
(2, 2)
(2, 3)
(4, 0)
(4, 1)
(4, 2)
(4, 3)
(6, 0)
(6, 1)
(6, 2)
(6, 3)
----------
(0, 0)
(0, 1)
(0, 2)
(0, 3)
(2, 0)
(2, 1)
(2, 2)
(2, 3)
(4, 0)
(4, 1)
(4, 2)
(4, 3)
(6, 0)
(6, 1)
(6, 2)
(6, 3)
16
28

### 3-2. 리스트 컴프리헨션을 사용해서 첫 번째 항목이 짝수일 때만 원소로 추가

In [41]:
[(x, y) for x in range(7) for y in range(4) if x % 2 == 0]

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (6, 0),
 (6, 1),
 (6, 2),
 (6, 3)]

In [40]:
[(x, y) for x in range(7) if x % 2 == 0 for y in range(4)]

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (6, 0),
 (6, 1),
 (6, 2),
 (6, 3)]

## 4번

> 1000에서 2000까지의 숫자 중, 홀수의 합을 구해본다.

In [50]:
result = 0
for x in range(1000, 2001):
    if x % 2 == 1:
        result += x

result = 0
for x in range(1001, 2001, 2):
    result += x
    
result = sum([x for x in range(1001, 2001, 2)])

print(result)

750000

## 5번

> 리스트 컴프리헨션을 사용하여 구구단 결과를 갖는 리스트를 만들고, 해당 리스트를 for문을 사용해 구구단 형태로 나오도록 출력해본다.
각 단마다 한 번 더 줄바꿈을 넣어준다.

In [51]:
# [2, 4, 6, 8, 10...., 3, 6, 9, 12, .... 4, 8, 12, ...]
# ['2 x 1 = 2', '2 x 2 = 4', .... '9 x 9 = 81']
# enumerate를 사용

In [ ]:
# == 2단 ==
# 2 x 1 = 2
# 2 x 2 = 4
# ...
# == 3단 ==
# 3 x 1 = 3
# 3 x 2 = 6

In [54]:
# 리스트가 ['2 x 1 = 2'.... '9 x 9 = 81'] 일 때
result = []
for x in range(2, 10):
    for y in range(1, 10):
        result.append(f'{x} x {y} = {x * y}')

In [65]:
# 0, 9, 18, 27, 36......번째마다 단수를 출력해야 함
# 위 index를 9로 나누고 2를 더하면 현재 단수가 됨
for index, item in enumerate(result):
    if index % 9 == 0:
        print(f'=== {index // 9 + 2}단 ===')
    print(item)

=== 2단 ===
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
=== 3단 ===
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
=== 4단 ===
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
=== 5단 ===
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
=== 6단 ===
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
=== 7단 ===
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
=== 8단 ===
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
=== 9단 ===
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [66]:
# 리스트가 [2, 4, 6, 8 .... 81]일 때
result2 = [x * y for x in range(2, 10) for y in range(1, 10)]

In [82]:
# 0 -> 1
# 1 -> 2
# ...
# 9 -> 1
# 10 -> 2
# 11 -> 3
# ...
# 18 -> 1
# 19 -> 2
# index값을 9로 나눈 나머지에 1을 더하면 각 단에서 현재 loop index가 나옴
for index, item in enumerate(result2):
    if index % 9 == 0:
        cur_dan = index // 9 + 2
        print(f'=== {cur_dan}단 ===')
    print('{} x {} = {}'.format(
        cur_dan,
        index % 9 + 1,
        item
    ))

=== 2단 ===
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
=== 3단 ===
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
=== 4단 ===
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
=== 5단 ===
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
=== 6단 ===
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
=== 7단 ===
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
=== 8단 ===
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
=== 9단 ===
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

## 6번

> 1에서 99까지의 정수 중, 7의 배수이거나 9의 배수인 정수인 리스트를 생성한다. 단, 7의 배수이며 9의 배수인 수는 한 번만 추가되어야 한다.

In [85]:
result = []
for x in range(1, 100):
    if x % 7 == 0 or x % 9 == 0:
        result.append(x)

In [86]:
[x for x in range(1, 100) if x % 7 == 0 or x % 9 == 0]

[7,
 9,
 14,
 18,
 21,
 27,
 28,
 35,
 36,
 42,
 45,
 49,
 54,
 56,
 63,
 70,
 72,
 77,
 81,
 84,
 90,
 91,
 98,
 99]